<h1> BOOKING  </h1>
<br>
<h4> <%= @experience.name %> </h4>
<h5> <%= @experience.description %> </h5>

<br>
<%= render "form" %>


------------ TESTING GREG PAYMENT METHODS ----------------

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'booking_id', @booking.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-warning btn-lg' %>
<% end %>
