<!-- Banner & Search -->

<div class="homepage-hero-module">
  <div class="video-container">
    <!-- <div class="filter"></div> -->
    <div class="video-wrapper">
      <video autoplay loop class="fillWidth">
        <source src="https://res.cloudinary.com/dylanlalonde/video/upload/v1529488646/goodtravel/The--Truck.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
        <source src="https://res.cloudinary.com/dylanlalonde/video/upload/v1529488381/goodtravel/The-Truck.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
      </video>
    </div>
    <div class="poster hidden">
      <img src="https://res.cloudinary.com/dylanlalonde/image/upload/v1529489412/goodtravel/The---Truck.jpg" alt="">
    </div>
    <div class="banner-content">
      <h1>Find your experience</h1>
      <div class="search-container">
        <%= form_tag(experiences_path, method: :get) do %>
          <%= search_field_tag :query, nil, placeholder: "", id: "search" %>
           <% end %>
      </div>
    </div>
  </div>
</div>

<!-- pain & solution section -->

<div class="solution-section">
  <div class="container">
    <br>
    <br>
    <br>
    <div class="solution-body">
      <h1> Travel is broken. </h1>
      <p>
        <em>In 2017 more than 8.2 Trillion dollars were earned globally in travel and tourism.</em>
      </p>
      <p>
        <strong>Very little made it to the locals.</strong> The sensitive ecosystems and delicate cultural traditions are eroding. <strong>We aim to fix this by distributing commissions into the local ecosystem.</strong>
      </p>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>

<!-- How it works section -->

<div class="steps-section">
  <div class="container">
    <br>
    <div class="home-section-heading"> <h3> Travel, fixed. </h3> </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="index_card">
            <div class="index_image"> <%= image_tag "https://res.cloudinary.com/dylanlalonde/image/upload/v1529678144/selectexperience.png" , alt: "Select an experience", width: 150, height: 150 %> </div>
            <h5> Select an experience <h5>
              <p> Intuitively browse our growing catalogue of locally submitted travel experiences. </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="index_card">
            <div class="index_image"> <%= image_tag "https://res.cloudinary.com/dylanlalonde/image/upload/v1529678144/choosecause.png", alt: "Select a cause", width: 150, height: 150 %> </div>
            <h5> Select a cause <h5>
              <p> Based on your choice, we share our commission with a local cause. </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="index_card">
            <div class="index_image"> <%= image_tag "https://res.cloudinary.com/dylanlalonde/image/upload/v1529678270/noun_1630806_cc.png", alt: "Simple Booking", width: 118, height: 150 %> </div>
            <h5> Simple booking <h5>
              <p> Instant, secure, easy in-app payment for booking on the fly. </p>
            </div>
        </div>
      </div>
      <br>
      <br>
      <br>
  </div>
</div>

<!--  Progress Bars section -->

<div class="progress-bars-section">
  <div class="container">
    <br>
    <br>
    <div class="home-section-heading"> <h3> Donations collected </h3> </div>
    <div class="home-section-heading"> <h5> in June 2018 </h5> </div>
      <br>
      <% @ngos.each do |ngo| %>
        <div class="progress-box-1">
          <div class="progress-ngo-img"> <%= image_tag(ngo.photo) %> </div>
            <div class="progress-ngo-info">
              <h5> <%= ngo.name %> </h5>
              <div class="progress">
                <% donations = Money.new(ngo.donations.sum(:amount_cents)) %>
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=" <%= donations / 10  %> " aria-valuemin="0" aria-valuemax="100" style="width: <%= donations / 10  %>%">
                    <div class="progress-donation"><%= humanized_money_with_symbol(donations) %>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <br>
      <% end %>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>

<!-- Homepage CTA -->

<div class="home-cta">
  <div class="container">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="home-cta-button">
      <%= link_to 'Become a GoodTraveller', experiences_path, class: "btn btn-success btn-lg" %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
