<div class ="container">
  <div class="row">
    <div id="form">
      <div class="col-sm-12 col-md-6 col-md-offset-3">
          <%= simple_form_for(@experience) do |f| %>
          <h1>Add your experience</h1>
          <br>
          <div class="form-group">
            Tour Name: <%= f.input :name %>
            <%= f.input :category, collection: ["City tour","Nature","Travel", prompt:"select your day" ] %>
            Short Description: <%= f.input :smdescription, hint: 'information' %>
             <%= f.input :duration %>
            Extended Description:<%= f.input :lgdescription %>
            <%#= f.input :location %>
            <%= f.input :location, collection: @locations %>
            Tour Price:<%= f.input :price %>
            Upload a Photo: <%= f.input :photo, as: :hidden %>
            <%#= f.input :photo_cache, as: :hidden %>
          </div>
          <%= f.submit class: 'btn btn-primary btn-lg' %>
          <% end %>
          <br>

        </div>
      </div>
  </div>
</div>

days of the week <br>
start times <br>
duration of Tour

